[data-start] {
  width: 75px;
  height: 40px;
  border-radius: 8px;
  background-color: #4e75ff;
  color: #ffffff;
  border-style: none;
  font-style: 'Montserrat', sans-serif;
}
[data-start]:hover {
  background: #6c8cff;
}
[data-start]:disabled {
  background: #cfcfcf;
}
#datetime-picker {
  width: 363px;
  height: 40px;
}
#datetime-picker {
  width: 272px;
  height: 40px;
  border-radius: 4px;
}
#datetime-picker:hover {
  border: 2px solid #000;
}
#datetime-picker:disabled {
  border: 2px solid #808080;
  color: #808080;
}

.timer {
  display: flex;
  gap: 24px;
  text-align: center;
}
.field {
  width: 364px;
  height: 72px;
}
.label {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
  text-transform: uppercase;
}
.value {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
  color: #2e2f42;
}
.field {
  width: 55px;
  height: 72px;
}
